<div class="animated fadeIn trick-asset-management">
  <div class="card">
    <div class="card-header bg-clr">
      <!-- <input type="text" class="form-control asset-saerch" [(ngModel)]="filterQuery" placeholder="Search Assets"/> -->
      <!-- <img class="search-img" src="../../assets/img/search.png"> -->
      <!-- <div class="card-header  bg-clr"> -->
        <h2 class="user-title">Product Management</h2>
        <div class="card-header-actions" *ngIf="!_authService.isClient()">
          <button class="btn btn-sm btn-primary create-client-bgclr" type="button" (click)="addAsset()">
            &nbsp;Create Asset
          </button>
        </div>
      <!-- </div> -->
    </div>
    <div class="card-body">
      <div class="row mb-3">
        <div class="col-md-4">
          <div class="input-group"></div>
        </div>
      </div>
      <div>
        <div class="container col-lg-12 col-md-12 col-sm-12 trick3d-row" *ngFor="let item of data; let i = index">
          <div class="row no-margin">
            <div class="col-md-2 col-sm-12 trick3d-table">
              <span class="client-management-header">Product Name</span>
              <span class="client-clr">{{ item.Name }}</span>
            </div>
            <div class="col-md-2 col-sm-12 trick3d-table">
              <span class="client-management-header">Category</span>
              <span class="client-clr">{{
                                item.category.Name
                            }}</span>
            </div>
            <div class="col-md-3 col-sm-12 trick3d-table">
              <span class="client-management-header">Status</span>
              <a class="client-clr">
                <span class="trick-text-size" *ngIf="item.Status == 'published'">Published</span>
                <span class="trick-text-size" *ngIf="item.Status == 'unpublished'">Unpublished</span>
                <span class="trick-text-size" *ngIf="item.Status == 'under-review'">Under Review</span>
                <span class="trick-text-size" *ngIf="item.Status == 'reviewed'">Reviewed</span>
              </a>
            </div>
            <div class="col-md-2 col-sm-12 trick3d-table">
              <a href="javascript:void(0)" (click)="openReview(item)" class="client-management-header">
                <img src="../../assets/img/eye.png" class="asset-eye-img" />
              </a>
            </div>
            <div class="col-md-3 col-sm-12 trick3d-table" *ngIf="_authService.isClient()">
              <button [disabled]="item.Status == 'under-review'" class="btn btn-sm btn-primary btn-published " *ngIf="item.Status == 'under-review'">
                Publish
              </button>
              <button class="btn btn-sm btn-primary btn-published" *ngIf="['unpublished','reviewed'].includes(item.Status)">
                Publish
              </button>
              <button class="btn btn-sm btn-primary btn-published" *ngIf="item.Status == 'published'">
                Unpublish
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>