<div class="animated fadeIn trick3d-user-management">
  <div class="card border-none">
    <div class="card-header  bg-clr">
      <h2 class="user-title">User Management</h2>
      <!-- <div class="row mb-3 trick-client-srch">
        <div class="col-md-4 offset-md-8 trick-client-left">
          <div class="input-group">
            <input type="text" class="form-control serch-bgclr" [(ngModel)]="filterQuery" placeholder="Search User" />
            <img class="search-img" src="../../assets/img/search.png" />
          </div>
        </div>
      </div> -->
      <div class="card-header-actions">
        <button class="btn btn-sm btn-primary add-client-bgclr" type="button" (click)="addUser()">&nbsp;Add
          User</button>
      </div>
    </div>
    <div class="card-body">
      <accordion [isAnimated]="true">
        <accordion-group class="trick3d-client-table" *ngFor="let item of data">
          <div accordion-heading>
            <div class="container col-lg-12 col-md-12 col-sm-12 trick3d-row">
              <div class="row no-margin">
                <div class="col-md-3 col-sm-12 trick3d-table">
                  <span class="client-management-header">Name
                  </span>
                  <span class="client-clr">{{item.FullName}}</span>
                </div>
                <div class="col-md-3 col-sm-12 trick3d-table">
                  <span class="client-management-header">Username
                  </span>
                  <span class="client-clr">{{item.UserName}}</span>
                </div>
                <div class="col-md-3 col-sm-12 trick3d-table">
                  <span class="client-management-header">Email
                  </span>
                  <span class="client-clr">{{item.Email}}</span>
                </div>
                <div class="col-md-3 col-sm-12 trick3d-table text-center">
                  <!-- <span class="client-management-header">Status
                  </span> -->
                  <span class="client-clr">
                    <label class="switch switch-label switch-pill switch-primary">
                      <input type="checkbox" class="switch-input" [checked]="item.Status"
                        (change)="changeStatus($event, item, index)" [disabled]="item.ClientID==_authService.isClient()">
                      <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                    </label>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="trick3d-table-body">
            <div class="client-width text-left">
              &nbsp;
            </div>
            <div class="text-left text-center" style="width: 17%">
              &nbsp;
            </div>
            <div class="text-left text-center" style="width: 18%;"><input type="text" class="trick-usrname text-center"
                name="username" placeholder="User name" style="width:79%" />

            </div>
            <div class="text-left text-center" style="width: 17%">
              <input type="text" class="trick-usrname text-center" placeholder="Password" name="username"
                style="width:84%" />
            </div>
            <div class="text-left text-center" style="width: 14%">
              <a href="#" class="resend-color">Resend invitation</a>
            </div>
          </div> -->
        </accordion-group>
      </accordion>
    </div>
  </div>
</div>