<div class="animated fadeIn trick-profile">
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="simpleForm" novalidate (ngSubmit)="onSubmit()" class="needs-validation">
        <!-- <div class="card"> -->
        <div class="col-md-12 trick-header">
          <!-- <i class="icon-note"></i> Asset Initial Upload Form
            <div class="card-header-actions">
            </div> -->
          <div class="col-md-2 trick-profile-left">
            <span class="profile-photo-bdr"><img class="profile-img" src="../assets/img/profile.png" /></span>
          </div>
          <div class="col-md-10 trick-profile-right">
            <!-- <a href="#" class="trick-edit-pctre">Edit Profile Picture</a> -->
            <a routerLink="/" class="trick-edit-pctre">Change Password</a>
            <div class="form-group row trick-form">
              <span class="trick-user">User Name</span>
              <input type="text" formControlName="UserName" class="form-control trick-profile-usrname"
                placeholder="Username" autocomplete="username" required />
            </div>
          </div>
        </div>
        <div class="col-md-12 trick-body">
          <div class="trick-body-form">
            <span class="col-md-2 trick-user">First Name</span>
            <input type="text" placeholder="FirstName" class="col-md-8 form-control trick-profile-usrname" />
          </div>
          <div class="trick-body-form">
            <span class="col-md-2 trick-user">Last Name</span>
            <input type="text" placeholder="Lastname" class="col-md-8 form-control trick-profile-usrname" />
          </div>
          <div class="trick-body-form">
            <span class="col-md-2 trick-user">Email</span>
            <input type="Email" placeholder="Email" class="col-md-8 form-control trick-profile-usrname" />
          </div>
          <div class="trick-body-form">
            <span class="col-md-2 trick-user">Phone Number</span>
            <input type="Tel" placeholder="Phone number" class="col-md-8 form-control trick-profile-usrname" />
          </div>
          <div class="trick-body-form">
            <span class="col-md-2 trick-user">&nbsp;</span>
            <div class="col-md-8 trick-profile-btn">
              <button class="btn profile-submit-btn" value="Reset">
                Reset
              </button>
              <button class="btn profile-reset-btn" value="Submit">
                Submit
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>