<div class="app-body login-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form class="trick-login" [formGroup]="loginForm" (ngSubmit)="onSubmit()" name="loginForm">
                  <h1>Login</h1>
                  <p class="text-muted">Sign In to your account</p>
                  <div class="input-group mb-3">
                    <!-- <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div> -->
                    <input type="text" formControlName="username" class="form-control login-form" placeholder="Username" autocomplete="username" required
                      [ngClass]="{ 'is-invalid': submitted && f.username.errors, 'is-valid': f.username.touched && !f.username.errors }"
                    />
                    <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
                      <div *ngIf="f['username'].errors.required">Username is required</div>
                    </div>
                  </div>
                  <div class="input-group mb-4">
                    <!-- <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div> -->
                    <input type="password" formControlName="password" class="form-control login-form" placeholder="Password" autocomplete="current-password" required
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors, 'is-valid': f.password.touched && !f.password.errors }"
                    />
                    <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                      <div *ngIf="f['password'].errors.required">Password is required</div>
                    </div>
                    <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                      <div *ngIf="f['password'].errors.pattern">Password should be minimum length of 8 charactors</div>
                    </div>
                  </div>
                  <div class=row *ngIf="login && login.error">
                      <div class="col-12">
                        <alert type="danger" class="login-form" *ngIf="!login.logout">
                          <strong>Error</strong> {{login.message}}. 
                        </alert>
                        <alert type="danger" class="login-form" *ngIf="login.logout">
                          <strong>Error</strong> {{login.message}}. Please <a href="javascript:void(0)" (click)="forceLogout()">logout</a>.
                        </alert>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <button type="submit" class="btn btn-primary px-4">Login</button>
                    </div>
                    <div class="col-6 text-right">
                      <a type="button" class="btn btn-link px-0" [routerLink]="['/forgot-password']">Forgot password?</a>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <!-- <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
              <div class="card-body text-center">
                <div>
                  <h2>Sign up</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  <button type="button" class="btn btn-primary active mt-3">Register Now!</button>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
