<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      Categories
      <div class="card-header-actions" style="height: 21px;">
            <button class="btn btn-sm btn-primary" type="button" (click)="addCategory()"><i class="fa fa-plus"></i>&nbsp;Add Category</button>
          </div>
    </div>
    <div class="card-body">
      <div class="row mb-3">
        <div class="col-md-4 offset-md-8">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-search"></i></span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="filterQuery" placeholder="Search by name"/>
          </div>
        </div>
      </div>
      <table class="table table-striped table-bordered table-hover table-responsive-lg" [mfData]="datao | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="10">
        <thead>
          <tr>
            <th style="width: 5%">
              <mfDefaultSorter by="sno">S.No.</mfDefaultSorter>
            </th>
            <th style="width: 20%">
              <mfDefaultSorter by="Name">Name</mfDefaultSorter>
            </th>
            <th style="width: 20%">
              <mfDefaultSorter by="Parent">Parent</mfDefaultSorter>
            </th>
            <th style="width: 15%">
              <mfDefaultSorter by="active">Active</mfDefaultSorter>
            </th>
            <th style="width: 10%">
              <mfDefaultSorter by="no_of_assets">Assets</mfDefaultSorter>
            </th>
            <th style="width: 10%">
              <mfDefaultSorter by="actions">Actions</mfDefaultSorter>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of mf.data; let i=index">
            <td>{{i+1}}</td>
            <td>{{item.Name}}</td>
            <td>{{this.catName[item.Parent] }}</td>
            <td>
              <span class="text-success" *ngIf="item.Status=='Active'"><i class="fa fa-check"></i> </span>
              <span class="text-danger" *ngIf="item.Status=='Inactive'"><i class="fa fa-close"></i> </span>
            </td>
            <td>{{item.Assets}}</td>
            <td>
              <a href="javascript:void(0)" (click)="openCategoryForm(item.CategoryID)" class="btn text-primary"><span><i class="fa fa-plus"></i></span></a>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="6">
              <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
