// .btn {
//   padding: 0px!important;
// }

.trick-asset-management {
  .btn-primary {
    background-color: #fff;
    border: 1px solid #3262a5;
    color: #3262a5;
  }
  .card {
    border: none;
    .card-header {
      border-bottom: none;
      background-color: transparent;
      .asset-saerch {
        background-color: #3262a5;
        color: #ecf2f8;
        border-radius: 5px;
        width: 28%;
        font-size: 16px;
        float: left;
        position: absolute;
        &:focus {
          border: none;
          box-shadow: none;
        }
        &::placeholder {
          color: #fff;
        }
      }
      .search-img {
        position: relative;
        left: 270px;
        top: 8px;
      }
      .card-header-actions{
          height: 21px;
          .create-client-bgclr{
            background-color: transparent;
            color: #3262a5;
            border: 1px solid #3262a5;
            height: 38px;
            width: 120px;
            font-size: 16px;
            &:hover{
                color: #fff;
                background-color: #3262a5;
                
            }
          }
      }
    }
    .card-body {
      padding-top: 5px;
      .asset-form-bgclr {
        background-color: #ecf2f8;
        line-height: 34px;
      }
      .btn-unaproved {
        background-color: #777a80;
        &:focus {
          box-shadow: none;
        }
        &:active {
          border: none;
        }
      }
      .btn-approved {
        background-color: #3262a5;
      }
      .no-border {
        border: none;
      }
      .asset-eye-img {
        width: 40px;
        margin-top: 6px;
      }
      .title-clr {
        color: #80a8cf;
        font-weight: normal;
        .assets-management-header {
          font-weight: 600;
          display: block;
        }
      }
      .tbody-clr {
        color: #3262a5;
      }
      .pagination {
        float: left;
        width: 11%;
      }
    }
    .trick3d-row {
      padding: 15px 0px 10px 0px;
      background-color: #ecf2f8;
      margin-bottom: 10px;
      border-radius: 5px;
      font-size: 16px;
      .no-margin {
        margin: 0px;
        .trick3d-table {
          text-align: center;
          padding: 0px;
          .client-management-header {
            display: block;
            font-weight: 600;
            color: #80a8cf;
          }
          .client-clr {
            color: #3262a5;
            .trick-text-size{
                font-size: 16px;
            }
          }
          .btn-published{
            height: 38px;
            background-color: #3262a5;
            color: #fff;
            font-size: 16px;
            width: 122px;
            margin-top: 4px;
          }
        }
      }
    }
  }
}


