<div class="jumbotron">
      <form [formGroup]="changePasswordForm" novalidate (ngSubmit)="onSubmit()" class="needs-validation">
        <div class="text-center mb-4">
          <h1 class="h3 mb-3 font-weight-normal">Change Password</h1>
        </div>
  
        <div class="form-label-group">
          <input type="password" name="Password" id="inputPassword" class="form-control" placeholder="New Password" required autofocus>
          <label for="inputPassword">New Password</label>
        </div>
  
        <div class="form-label-group">
          <input type="password" name="ConfirmPassword" id="inputConfirmPassword" class="form-control" placeholder="Confirm Password" required>
          <label for="inputConfirmPassword">Confirm Password</label>
        </div>
        <div class="form-label-group" id="success">
            <p><span class="alert alert-success">Your Password created successfully.</span></p>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
    </form>
</div>