<div class="animated fadeIn trick3d-change-password">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <!-- <i class="icon-note"></i>  -->
          Change your password
          <div class="card-header-actions"></div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-8">
              <form [formGroup]="changePasswordForm" novalidate (ngSubmit)="onSubmit()" class="needs-validation">
                
                <div class="form-group">
                  <label for="inputCPassword" class="current-password">Current Password</label>
                  <input id="inputCPassword" type="password" formControlName="CurrentPassword" class="form-control current-password-input"
                    placeholder="Current Password" required autofocus />
                </div>

                <div class="form-group">
                  <label for="inputPassword" class="current-password">Enter New Password</label>
                  <input id="inputPassword" type="password" formControlName="Password" class="form-control current-password-input" placeholder="New Password"
                    required autofocus />
                </div>

                <div class="form-group">
                  <label for="inputConfirmPassword" class="current-password">Re-type new password</label>
                  <input id="inputConfirmPassword" type="password" formControlName="ConfirmPassword" class="form-control current-password-input"
                    placeholder="Confirm Password" required />
                </div>
                
                <div class="form-group col-md-12 trick3d-reset-btn">
                  <button class="btn btn-primary btn-block reset-btn" type="submit">Reset password</button>
                </div>
                
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>