<div class="animated fadeIn trick3d-client-management">
  <div class="card border-none">
    <div class="card-header bg-clr">
      <input type="text" class="form-control serch-bgclr" [(ngModel)]="filterQuery" placeholder="Search Client" />
      <div class="card-header-actions" style="height: 21px;">
        <button class="btn btn-sm btn-primary add-client-bgclr" type="button" (click)="addClient()">&nbsp;Add Client</button>
      </div>
    </div>
    <div class="card-body">
      <div class="row mb-3">
        <div class="col-md-4">
          <!-- <div class="input-group" style="width: 80%;">
            <div class="input-group-prepend">
              <span class="input-group-text"></span> 
            </div>
            <input type="text" class="form-control serch-bgclr" [(ngModel)]="filterQuery" placeholder="Search Client" />
          </div> -->
        </div>
      </div>
      <table class="table table-bordered table-hover table-responsive-lg" [mfData]="clients | dataFilter : filterQuery"
        #mf="mfDataTable" [mfRowsOnPage]="10">
        <thead>
          <tr>
            <th style="width: 25%">
              <mfDefaultSorter by="FullName">Client Name</mfDefaultSorter>
            </th>
            <th style="width: 25%">
              <mfDefaultSorter by="Email">Email</mfDefaultSorter>
            </th>
            <th style="width: 10%">
              <mfDefaultSorter by="users">No. of Users</mfDefaultSorter>
            </th>
            <th style="width: 15%">
              &nbsp;
            </th>
            <th>Status</th>
            <th>Actions</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of mf.data">
            <td>{{item.FullName}}</td>
            <td>{{item.Email}}</td>
            <td align="center">{{item.users.length}}</td>
            <td align="center">
              <div class="center">
                <button *ngIf="item.isActive.length==0" class="btn btn-sm btn-primary text-white"
                  (click)="resendLink($event,item.ClientID)">Resend Invitation <i class="icon icon-login"></i></button>
                <p *ngIf="item.isActive.length>0">Registered</p>
              </div>
            </td>
            <td>
              <label class="switch switch-label switch-pill switch-primary">
                <input type="checkbox" class="switch-input" [checked]="item.Status"
                  (change)="changeStatus($event, item)">
                <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
              </label>
            </td>
            <td align="center">
              <div class="center">
                <a href="javascript:void"><span class="fa fa-pencil-square-o"></span></a>
                <a href="javascript:void"><span class="fa fa-trash-o text-danger"></span></a>
                <!-- <a href="#"><span class="fa fa-eye"></span></a> -->
              </div>
            </td>
            <td>
              <button type="button" class="btn btn-sm btn-info text-white" (click)="login(item.Email)">Login <i
                  class="icon icon-login"></i></button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="7">
              <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
      </table>
      <!-- <accordion [isAnimated]="true">
        <accordion-group class="trick3d-client-table">
          <div accordion-heading >
            <table class="table table-striped table-bordered table-hover table-responsive-lg no-border" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="10">
              <thead>
                <tr>
                  <th class="title-clr no-border header-paddind" style="width: 7%;">
                    <mfDefaultSorter by="notification">Client </mfDefaultSorter>
                  </th>
                  <th class="title-clr no-border text-center" style="width: 15%">
                    <mfDefaultSorter by="notification">User Name </mfDefaultSorter>
                  </th>
                  <th class="title-clr no-border text-center" style="width: 10%">
                    <mfDefaultSorter by="notification">Website</mfDefaultSorter>
                  </th>
                  <th class="title-clr no-border text-center" style="width: 15%">
                    <mfDefaultSorter by="notification">Email</mfDefaultSorter>
                  </th>
                  <th class="title-clr no-border text-center" style="width: 15%">
                    <mfDefaultSorter by="notification">Status</mfDefaultSorter>
                  </th>
                </tr>
              </thead> 
              <tbody>
                <tr class="asset-form-bgclr">
                  <td class="no-border" style="width: 10%;padding-left:12px;color:#3262A5">Asset</td>
                  <td class="tbody-clr no-border" style="width: 10%">black decker</td>
                  <td class="tbody-clr no-border" style="width: 10%">trick3d.com</td>
                  <td class="tbody-clr no-border" style="width: 10%">trick3d@gmail.com</td>
                  <td class="tbody-clr no-border" style="width: 10%">Registered</td>
                  <th class="title-clr no-border text-center" style="width: 15%">
                    <mfDefaultSorter by="notification">Action</mfDefaultSorter>
                  </th>
                  <th class="title-clr no-border text-center" style="width: 15%">
                    <button style="width:100px" class="btn btn-sm btn-primary btn-unaproved" >Login<img src="../../assets/img/approve.png"></button>
                  </th>
                  </tr>
                  </tbody>
            </table>
          </div>
          <div class="trick3d-table-body" >
              <div class="client-width text-left header-paddind">
                <input type="text" class="trick-usrname" name="username" placeholder="User name" style="width:100%">
              </div>
              <div class="text-left text-center" style="width: 11%">
                &nbsp;
              </div>
              <div class="text-left text-center" style="width: 16%;color: #3262A5;">
                <input type="text" class="trick-usrname text-center" placeholder="Password" name="username" style="width:75%">
              </div>
              <div class="text-left text-center" style="width: 12%">
                &nbsp;
              </div>
              <div class="text-left text-center" style="width: 15%">
                <a href="#" class="resend-color">Resend invitation</a>
              </div>        
          </div>
        </accordion-group>
      </accordion> -->
    </div>
  </div>
</div>