<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      Clients
      <!--<a href="https://coreui.io/pro/angular/" class="badge badge-danger ml-2">CoreUI Pro Component</a>-->
      <div class="card-header-actions" style="height: 21px;">
            <button class="btn btn-sm btn-primary" type="button" (click)="addClient()"><i class="fa fa-plus"></i>&nbsp;Add Client</button>
          </div>
    </div>
    <div class="card-body">
      <div class="row mb-3">
        <div class="col-md-4 offset-md-8">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-search"></i></span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="filterQuery" placeholder="Search..."/>
          </div>
        </div>
      </div>
      <table class="table table-bordered table-hover table-responsive-lg" [mfData]="clients | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="10">
        <thead>
          <tr>
            <th style="width: 25%">
              <mfDefaultSorter by="FullName">Client Name</mfDefaultSorter>
            </th>
            <th style="width: 25%">
              <mfDefaultSorter by="Email">Email</mfDefaultSorter>
            </th>
            <th style="width: 10%">
              <mfDefaultSorter by="users">No. of Users</mfDefaultSorter>
            </th>
            <th style="width: 15%">
              &nbsp;
            </th>
            <th>Status</th>
            <th>Actions</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of mf.data">
            <td>{{item.FullName}}</td>
            <td>{{item.Email}}</td>
            <td align="center">{{item.users.length}}</td>
            <td align="center">
              <div class="center">
                <button *ngIf="item.isActive.length==0" class="btn btn-sm btn-primary text-white" (click)="resendLink($event,item.ClientID)">Resend Invitation <i class="icon icon-login"></i></button>
                <p *ngIf="item.isActive.length>0">Registered</p>
              </div>
            </td>
            <td>
              <label class="switch switch-label switch-pill switch-primary">
                <input type="checkbox" class="switch-input" [checked]="item.Status" (change)="changeStatus($event, item)">
                <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
              </label>
            </td>
            <td align="center">
              <div class="center">
                <a href="javascript:void"><span class="fa fa-pencil-square-o"></span></a>
                <a href="javascript:void"><span class="fa fa-trash-o text-danger"></span></a>
                <!-- <a href="#"><span class="fa fa-eye"></span></a> -->
              </div>
            </td>
            <td>
              <button type="button" class="btn btn-sm btn-info text-white">Login <i class="icon icon-login"></i></button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="7">
              <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
