    <div class="modal-header">
      <h4 class="modal-title">{{title}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
          <div class="col-md-6">
            <form [formGroup]="cACForm" novalidate (ngSubmit)="onSubmit()" class="needs-validation">
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="ccmonth">Category</label>
                <div class="col-md-9">
                  <select class="form-control" id="ccmonth" formControlName="category" required autofocus [ngClass]="{ 'is-invalid': submitted && f.category.errors, 'is-valid': f.category.touched && !f.category.errors }" >
                  <option value="c1">Category1</option>
                  <option value="c2">Category2</option>
                </select>
                <div *ngIf="submitted && f['type'].errors" class="invalid-feedback">
                  <div *ngIf="f['type'].errors.required">Type is required</div>
                </div>
                </div>
              </div>
              <div class="form-group">
                  <button class="btn btn-success mr-1" type="submit" >Submit</button>
                  <button class="btn btn-danger" type="reset" [disabled]="cACForm.pristine && !submitted" (click)="onReset()">Reset</button>
                </div>
            </form>
          </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{closeBtnName}}</button>
    </div>
