.trick3d-forgot-password {
  border: 1px solid #3262a5;
  background-color: #3262a5;
  .forgot-pswd-header {
    // color: #3262A5;
    font-size: 26px;
    color: #edecee;
  }
  .forgot-pswd-subtitle {
    color: #edecee;
  }
  .forgot-pswd-input {
    border: none;
    //height: 38px;
    //font-size: 18px;
    background-color: #80a8cf !important;
    color: #5c6773;
    &::placeholder {
      color: #3262A5;
    }
    &:focus {
      box-shadow: none !important;
    }
  }
  .forgot-pswd-btn {
    //background-color: #3262A5;
    //font-size: 18px;
    //height: 38px;
    //width: 122px;
    //border:none;
    color: #fff;
    background-color: #3262a5;
    border-color: #80a8cf;
    &:focus {
      box-shadow: none !important;
    }
    &:active {
      background-color: #3262a5 !important;
    }
    &:hover {
      color: #3262a5 !important;
      background-color: #fff;
      border-color: #3262a5;
    }
  }
  .forgot-pswd-lgn {
    color: #edecee;
    //font-size: 18px;
    &:hover {
      text-decoration: none;
    }
  }
  @media all and (max-width: 699px) and (min-width: 320px) {
    .forgot-pswd-header {
      font-size: 26px;
    }
  }
}
