<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()" name="forgotForm">
                  <h1>Forgot Password</h1>
                  <p class="text-muted">Forgot your Password?</p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" formControlName="Email" class="form-control" placeholder="Email" autocomplete="Email" required
                      [ngClass]="{ 'is-invalid': submitted && f.Email.errors, 'is-valid': f.Email.touched && !f.Email.errors }"
                    />
                    <div *ngIf="submitted && f['Email'].errors" class="invalid-feedback">
                      <div *ngIf="f['Email'].errors.required">Email is required</div>
                      <div *ngIf="f['Email'].errors.email">Invalid email address</div>
                    </div>
                  </div>

                  <div class=row *ngIf="login && login.error">
                      <div class="col-12">
                        <alert type="danger">
                          <strong>Oh!</strong> {{login.message}}
                        </alert>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <button type="submit" class="btn btn-primary px-4">Submit</button>
                    </div>
                    <div class="col-6 text-right">
                      <a type="button" class="btn btn-link px-0" [routerLink]="['/login']">Login?</a>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

