<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <i class="icon-note"></i> Category Form
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <form [formGroup]="simpleForm" novalidate (ngSubmit)="onSubmit()" class="needs-validation">
              <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="name">Category name</label>
                  <div class="col-md-9">
                  <input class="form-control"
                         id="name"
                         type="text"
                         formControlName="Name"
                         placeholder="Category name"
                         autocomplete="given-name"
                         required
                         autofocus
                         [ngClass]="{ 'is-invalid': submitted && f.Name.errors, 'is-valid': f.Name.touched && !f.Name.errors }" />
                  <div *ngIf="submitted && f['Name'].errors" class="invalid-feedback">
                    <div *ngIf="f['Name'].errors.required">Category Name is required</div>
                  </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="parent"> Parent Category</label>
                  <div class="col-md-9">
                    <select class="form-control" id="parent" formControlName="Parent" autofocus [ngClass]="{ 'is-invalid': submitted && f.Parent.errors, 'is-valid': f.Parent.touched && !f.Parent.errors }" >
                      <option value="" [disabled]>Select Parent</option>
                      <option *ngFor="let cat of parentData" [value]="cat && cat.CategoryID">{{cat && cat.Name}}</option>
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <!--<button class="btn btn-primary mr-1" type="submit" [disabled]="simpleForm.pristine">Submit</button>-->
                  <button class="btn btn-success mr-1" type="submit" >Submit</button>
                  <button class="btn btn-danger" type="reset" [disabled]="simpleForm.pristine && !submitted" (click)="onReset()">Reset</button>
                </div>
              </form>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
