<div class="animated fadeIn initial-upload-foam">
  <div class="row">
    <div class="col-md-12">
      <div class="card no-border">
        <div class="card-header no-bgclr">
          <!-- <i class="icon-note"></i> -->
          <h2>Create Product Form </h2>
          <div class="card-header-actions">
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <form [formGroup]="simpleForm" novalidate (ngSubmit)="onSubmit()" class="needs-validation">
                <div class="form-group row">
                  <label class="col-md-4 col-form-label" for="_client">Client</label>
                  <div class="col-md-8">
                    <select [ngClass]="{ 'is-invalid': submitted && f.ClientID.errors, 'is-valid': f.ClientID.touched && !f.ClientID.errors }" class="form-control form-clr" formControlName="ClientID" id="_client" required (change)="getCategpries()">
                      <option value="">Select Client</option>
                      <option *ngFor="let client of clients" [value]="client.ClientID">{{client.FullName}}</option>
                    </select>
                    <div *ngIf="submitted && f['ClientID'].errors" class="invalid-feedback">
                      <div *ngIf="f['ClientID'].errors.required">Client is required</div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 col-form-label" for="_category">Category</label>
                  <div class="col-md-8">
                  <select [ngClass]="{ 'is-invalid': submitted && f.CategoryID.errors, 'is-valid': f.CategoryID.touched && !f.CategoryID.errors }" class="form-control form-clr" formControlName="CategoryID" id="_category" required>
                    <option value="">Select Category</option>
                    <option *ngFor="let catogory of categories" [value]="catogory.CategoryID">{{catogory.Name}}</option>
                  </select>
                  <div *ngIf="submitted && f['CategoryID'].errors" class="invalid-feedback">
                    <div *ngIf="f['CategoryID'].errors.required">Category is required</div>
                  </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 col-form-label" for="_name">Product Name </label>
                  <div class="col-md-8">
                  <input class="form-control form-clr"
                         id="_name"
                         type="text"
                         formControlName="Name"
                         placeholder="Product Name"
                         autocomplete="family-name"
                         required
                         [ngClass]="{ 'is-invalid': submitted && f.Name.errors, 'is-valid': f.Name.touched && !f.Name.errors }" />
                  <div *ngIf="submitted && f['Name'].errors" class="invalid-feedback">
                    <div *ngIf="f['Name'].errors.required">Product Name is required</div>
                  </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 col-form-label" for="file-input">Upload Thumbnail</label>
                  <div class="col-md-8">
                    <input accept='image/*' required class="choose-file-form" (change)="onFileChange($event)" type="file" id="file-input" 
                    [ngClass]="{ 'is-invalid': submitted && f.Name.errors, 'is-valid': f.Name.touched && !f.Name.errors }" />
                  </div>
                  <span *ngIf="product_data.Upload"><img width="60" [src]="f.Upload.value" (click)="openImagePopup()"/></span>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 col-form-label" for="features">Number of Hot Spots</label>
                  <div class="col-md-8">
                    <input [ngClass]="{ 'is-invalid': submitted && f.NoOfFeatures.errors, 'is-valid': f.NoOfFeatures.touched && !f.NoOfFeatures.errors }" class="form-control" formControlName="NoOfFeatures" type="number" id="features"/>
                  </div>
                  <div *ngIf="submitted && f['NoOfFeatures'].errors" class="invalid-feedback">
                    <div *ngIf="f['NoOfFeatures'].errors.required">Number of Hot Spots is required</div>
                  </div>
                </div>
                <div class="form-actions">
                    <span class="trick-form-submit" for="file-input">&nbsp;</span>
                  <button class="btn btn-primary mr-1 profile-reset-btn" type="submit" [disabled]="simpleForm.invalid">Submit</button>
                  <button class="btn btn-danger" type="reset" [disabled]="simpleForm.pristine && !submitted" (click)="onReset()">Reset</button>
                  <button class="btn btn-secondary profile-submit-btn" type="button" (click)="cancel()">Cancel</button>
                </div>
              </form>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
