<div class="animated fadeIn initial-upload-foam">
    <div class="row">
        <div class="col-md-12">
            <div class="card no-border">
                <div class="card-header no-bgclr">
                    <!-- <i class="icon-note"></i> -->
                    Product Review Form
                    <div class="card-header-actions">
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <img width="400" [src]="product_data.png" />
                        </div>
                        <div class="col-md-6">

                            <div class="row">
                                <!-- <i class="icon-note"></i> -->
                                <h2>Product Facts</h2>

                                <div class="col-md-12 jumbotron">
                                    <div class="form-group row">
                                        <label for="name" class="col-md-4">Name</label>
                                        <div class="col-md-8">
                                            {{product_data.Name}}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="name" class="col-md-4">Category</label>
                                        <div class="col-md-8">
                                            {{product_data.Category}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 col-form-label" for="_client">Image Upload</label>
                                <div class="col-md-8">
                                    <input type="file" accept="image/*" />
                                    <!-- <div *ngIf="submitted && f['ClientID'].errors" class="invalid-feedback">
                                            <div *ngIf="f['ClientID'].errors.required">Client is required</div>
                                        </div> -->
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 col-form-label" for="_client">Video Upload</label>
                                <div class="col-md-8">
                                    <input type="file" accept="video/*" />
                                    <!-- <div *ngIf="submitted && f['ClientID'].errors" class="invalid-feedback">
                                            <div *ngIf="f['ClientID'].errors.required">Client is required</div>
                                        </div> -->
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 col-form-label" for="_client">Data Sheet</label>
                                <div class="col-md-8">
                                    <input type="file" accept="image/*" />
                                    <!-- <div *ngIf="submitted && f['ClientID'].errors" class="invalid-feedback">
                                            <div *ngIf="f['ClientID'].errors.required">Client is required</div>
                                        </div> -->
                                </div>
                            </div>
                            <div class="form-group row">
                                <h2>Product Features</h2>
                                    <form [formGroup]="simpleForm" novalidate (ngSubmit)="onSubmitMarking()" class="col-md-12 needs-validation">
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label for="" class="col-md-6">Select Feature</label>
                                                <div class="col-md-6">
                                                    <select class="form-control" formControlName="MarkingNumber" (change)="onSelectFeature($event)">
                                                        <option value="">Select Feature</option>
                                                        <option *ngFor="let feature of product_data.NoOfFeatures" [value]=feature+1>{{feature+1}}</option>
                                                    </select>
                                                </div>
                                                <div *ngIf="submitted && f['MarkingNumber'].errors" class="invalid-feedback">
                                                    <div *ngIf="f['MarkingNumber'].errors.required">Feature is required</div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="" class="col-md-6">Title </label>
                                                <div class="col-md-6">
                                                    <input type="text" formControlName="Title" class="form-control"/>
                                                </div>
                                                <div *ngIf="submitted && f['Title'].errors" class="invalid-feedback">
                                                    <div *ngIf="f['Title'].errors.required">Title is required</div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="" class="col-md-6">Description </label>
                                                <div class="col-md-6">
                                                    <input type="text" formControlName="Description" class="form-control"/>
                                                </div>
                                                <div *ngIf="submitted && f['Description'].errors" class="invalid-feedback">
                                                    <div *ngIf="f['Description'].errors.required">Description is required</div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="" class="col-md-6">Image </label>
                                                <div class="col-md-6">
                                                    <input type="file" (change)="onFileChange($event)"  accept="image/*" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-actions">
                                            <button class="btn btn-secondary profile-reset-btn" type="button"
                                                (click)="cancel()">Cancel</button>
                                            <button class="btn btn-primary mr-1 profile-submit-btn" type="submit"
                                                [disabled]="simpleForm.invalid">Save</button>
                                        </div>
                                    </form>
                            </div>

                            <!-- <div class="form-actions">
                                <span class="trick-form-submit" for="file-input">&nbsp;</span>

                                <button class="btn btn-secondary profile-reset-btn" type="button"
                                    (click)="cancel()">Cancel</button>
                                <button class="btn btn-primary mr-1 profile-submit-btn" type="submit"
                                    [disabled]="simpleForm.invalid">Save</button>
                                
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>