<div class="animated fadeIn asset-producr-review">
    <div class="row">
        <div class="col-md-12">
            <div class="card no-border">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-5 trick3d-review-image">
                            <h2 class="review-header">Product Review Screen</h2>
                            <img width="400" decode=true [defaultImage]="'../../../../assets/Spinner-1s-201px.svg'"
                                [lazyLoad]="product_data.assetPicture.URL" />
                        </div>
                        <div class="col-md-7 trick3d-product-form">
                            <form [formGroup]="simpleForm" novalidate (ngSubmit)="onSubmitMarking()"
                                class="col-md-12 needs-validation">
                                <div class="row review-form-body">
                                    <h2 class="review-title">Product Facts</h2>
                                    <div class="col-md-12 review-forms">
                                        <div class="form-group review-name">
                                            <label for="name" class="col-md-4 float-left">Name</label>
                                            <div class="col-md-8 float-left">
                                                <input class="product-name" formControlName="Name" type="text"
                                                    [(ngModel)]="product_data.Name" />
                                            </div>
                                        </div>
                                        <div class="form-group review-name">
                                            <label for="name" class="col-md-4 float-left">Category</label>
                                            <div class="col-md-8 float-left">
                                                <select class="form-control product-select"
                                                    formControlName="CategoryID">
                                                    <option value="" class="selected-feature">Select Category</option>
                                                    <option [selected]="category.CategoryID==product_data.CategoryID"
                                                        [value]="category.CategoryID"
                                                        *ngFor="let category of categories;">{{category.Name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group review-name">
                                            <label for="name" class="col-md-4 float-left">Asset Bundle</label>
                                            <div class="col-md-8 float-left">
                                                {{ product_data.assetPicture.AssetBundle}}
                                            </div>
                                        </div>
                                        <!-- <div class="form-group review-name">
                                            <label for="name" class="col-md-4 float-left">Sub Categery</label>
                                            <div class="col-md-8 float-left">
                                                <select class="form-control product-select">
                                                    <option value="" class="selected-feature">Select Categery</option>
                                                    <option value="">1</option>
                                                </select>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                                <div class="row review-form-body paddin-top">
                                    <h2 class="review-title">Product Attibutes</h2>
                                    <div class="col-md-12 review-forms bg-noclr">
                                        <div class="form-group review-name margin-btm">
                                            <label class="col-md-4 float-left" for="_client">Product Image</label>
                                            <div class="col-md-8 float-left"
                                                *ngIf="!product_data.assetPicture.ProductImage || isHaving.pi">
                                                <div class="custom-file-upload">
                                                    <label for="file-upload" class="upload-labe">
                                                        {{piName || 'Choose File'}}
                                                    </label>
                                                    <span *ngIf="piPreview.length==0">No file</span>
                                                    <span *ngIf="piPreview.length>0 && piPreview">
                                                        <img *ngFor="let pimg of piPreview" width="60" [src]="pimg" [alt]="piName"/>
                                                    </span>
                                                </div>
                                                <input #pi id="file-upload" type="file" multiple
                                                    (change)="onFileChange($event,'pi')" accept="image/*" />
                                            </div>
                                            <div class="col-md-8 float-left"
                                                *ngIf="product_data.assetPicture.ProductImage && !isHaving.pi">
                                                <span><a href="javascript:void(0)"
                                                        (click)="showAsset(product_data.assetPicture.ProductImage, 'image')"><img
                                                            decode=true
                                                            [defaultImage]="'../../../../assets/Spinner-1s-201px.svg'"
                                                            [lazyLoad]="product_data.assetPicture.ProductImage"
                                                            width="42" /></a></span>
                                            </div>
                                            <i *ngIf="product_data.assetPicture.ProductImage && !isHaving.pi"
                                                class="fa fa-close" (click)="toggleAssets(true, 'pi')">&nbsp;</i>
                                            <i *ngIf="!product_data.assetPicture.ProductImage || isHaving.pi"
                                                class="fa fa-close" (click)="toggleAssets(false, 'pi', true)">&nbsp;</i>
                                        </div>
                                        <div class="form-group review-name margin-btm">
                                            <label class="col-md-4 float-left" for="_client">Product Video</label>
                                            <div class="col-md-8 float-left"
                                                *ngIf="!product_data.assetPicture.ProductVideo || isHaving.pv">
                                                <div class="custom-file-upload">
                                                    <label for="file-upload" class="upload-labe">
                                                        {{pvName || 'Choose File'}}
                                                    </label>
                                                    <span *ngIf="!pvPreview">No file </span>
                                                    <!-- <span *ngIf="!pvPreview">No file </span> -->
                                                </div>
                                                <input #pv id="file-upload" type="file" multiple
                                                    (change)="onFileChange($event,'pv')" accept="video/*" />
                                            </div>

                                            <div class="col-md-8 float-left"
                                                *ngIf="product_data.assetPicture.ProductVideo && !isHaving.pv">
                                                <span>
                                                    <a href="javascript:void(0)"
                                                        (click)="showAsset(product_data.assetPicture.ProductVideo,'video')">
                                                        show Video
                                                    </a>
                                                </span>

                                            </div>
                                            <i *ngIf="product_data.assetPicture.ProductVideo && !isHaving.pv "
                                                class="fa fa-close" (click)="toggleAssets(true, 'pv')">&nbsp;</i>
                                            <i *ngIf="!product_data.assetPicture.ProductVideo || isHaving.pv "
                                                class="fa fa-close" (click)="toggleAssets(false, 'pv', true)">&nbsp;</i>
                                        </div>
                                        <div class="form-group review-name margin-btm">
                                            <label class="col-md-4 float-left" for="_client">Product Video Url</label>
                                            <div class="col-md-8 float-left">
                                                <input id="_client" type="url" class="product-video form-control"
                                                    formControlName="ProductVideoURL" />
                                            </div>
                                            <div class="invalid-feedback" *ngIf="f['ProductVideoURL'].errors"> 
                                                <div class="invalid-text" *ngIf="f['ProductVideoURL'].errors.invalid">
                                                    Not a valid URL
                                                </div>
                                            </div>
                                            <!-- <i *ngIf="product_data.assetPicture.ProductVideo && !isHaving.pv" class="fa fa-close" (click)="toggleAssets(true, 'pv')">&nbsp;</i> -->
                                            <!-- <i *ngIf="!product_data.assetPicture.ProductVideo || isHaving.pv" class="fa fa-close" (click)="toggleAssets(false, 'pv', true)">&nbsp;</i> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="row review-form-body paddin-top">
                                    <h2 class="review-title">Product Features</h2>
                                    <div class="col-md-12 review-forms bg-noclr">
                                        <div class="form-group review-name margin-btm">
                                            <label for="" class="col-md-4 float-left">Select Feature</label>
                                            <div class="col-md-8 float-left">
                                                <select formControlName="MarkingNumber"
                                                    (change)="onSelectFeature($event)"
                                                    class="select-featiures form-control feature-select">
                                                    <option value="" [selected]="true" class="selected-feature">Select
                                                        Feature</option>
                                                    <option *ngFor="let feature of product_data.NoOfFeatures"
                                                        [value]=feature+1>{{feature+1}}</option>
                                                </select>
                                            </div>
                                            <div *ngIf="submitted && f['MarkingNumber'].errors"
                                                class="invalid-feedback">
                                                <div *ngIf="f['MarkingNumber'].errors.required">Feature is required
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group review-name margin-btm">
                                            <label class="col-md-4 float-left" for="_client">Title</label>
                                            <div class="col-md-8 float-left">

                                                <input type=text formControlName="Title" placeholder="Feature Title"
                                                    class="review-feature">
                                                <div *ngIf="submitted && f['Title'].errors" class="invalid-feedback">
                                                    <div *ngIf="f['Title'].errors.required">Title is required</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group review-name margin-btm">
                                            <label class="col-md-4 float-left" for="_client">Description</label>
                                            <div class="col-md-8 float-left">
                                                <textarea formControlName="Description" type=text
                                                    placeholder="Feature Body "
                                                    class="review-feature text-scroll"></textarea>
                                            </div>
                                            <div *ngIf="submitted && f['Description'].errors" class="invalid-feedback">
                                                <div *ngIf="f['Description'].errors.required">Description is required
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group review-name margin-btm">
                                            <label class="col-md-4 float-left" for="_client">Image</label>
                                            <div class="col-md-8 float-left"
                                                *ngIf="!f['MarkingImgURL'].value || isHaving.mi">
                                                <div class="custom-file-upload">
                                                    <label for="file-upload" class="upload-labe">
                                                        {{feiName || 'Choose File'}}
                                                    </label>
                                                    <span *ngIf="feiPreview.length==0">No file </span>
                                                    <span *ngIf="feiPreview.length>0 && feiPreview">
                                                        <img *ngFor="let fiview of feiPreview" width="60" [src]="fiview" [alt]="feiName"/>
                                                    </span>
                                                </div>
                                                <input #mi id="file-upload" multiple (change)="onFileChange($event,'fei')"
                                                    type="file" accept="image/*" />
                                            </div>
                                            <div class="col-md-4 float-left"
                                                *ngIf="f['MarkingImgURL'].value && !isHaving.mi">
                                                <span><a href="javascript:void(0)"
                                                        (click)="showAsset(f['MarkingImgURL'].value, 'image')"><img
                                                            decode=true
                                                            [defaultImage]="'../../../../assets/Spinner-1s-201px.svg'"
                                                            [lazyLoad]="f['MarkingImgURL'].value"
                                                            width="42" /></a></span>
                                            </div>
                                            <i *ngIf="f['MarkingImgURL'].value && !isHaving.mi" class="fa fa-close"
                                                (click)="toggleAssets(true, 'mi')">&nbsp;</i>
                                            <i *ngIf="!f['MarkingImgURL'].value || isHaving.mi" class="fa fa-close"
                                                (click)="toggleAssets(false, 'mi', true)">&nbsp;</i>
                                        </div>
                                        <div class="form-group review-name margin-btm">
                                            <label class="col-md-4 float-left" for="_client">Video</label>
                                            <div class="col-md-8 float-left"
                                                *ngIf="!f['MarkingVideoURL'].value || isHaving.mv">
                                                <div class="custom-file-upload">
                                                    <label for="file-upload" class="upload-labe">
                                                        {{fevName || 'Choose File'}}
                                                    </label>
                                                    <span *ngIf="!fevPreview">No file </span>
                                                </div>
                                                <input #mv id="file-upload" multiple (change)="onFileChange($event,'fev')"
                                                    type="file" accept="video/*" />
                                            </div>
                                            <div class="col-md-4 float-left"
                                                *ngIf="f['MarkingVideoURL'].value && !isHaving.mv">
                                                <span>
                                                    <a href="javascript:void(0)"
                                                        (click)="showAsset(f['MarkingVideoURL'].value, 'video')">
                                                        Show Video
                                                    </a>
                                                </span>
                                            </div>
                                            <i *ngIf="f['MarkingVideoURL'].value && !isHaving.mv" class="fa fa-close"
                                                (click)="toggleAssets(true, 'mv')">&nbsp;</i>
                                            <i *ngIf="!f['MarkingVideoURL'].value || isHaving.mv" class="fa fa-close"
                                                (click)="toggleAssets(false, 'mv', true)">&nbsp;</i>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions review-btns">
                                    <button type="button" (click)="publishProduct($event)"
                                        [disabled]="product_data.assetMarking && product_data.NoOfFeatures.length!=product_data.assetMarking.length"
                                        class="btn btn-primary profile-publish-btn">Publish</button>
                                    <!-- <span class="trick-form-submit" for="file-input">&nbsp;</span> -->
                                    <button class="btn btn-primary mr-1 profile-submit-btn" type="submit">Save</button>
                                    <button class="btn btn-secondary profile-cncl-btn" type="button"
                                        (click)="cancel()">Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>