<div class="animated fadeIn asset-producr-review">
    <div class="row">
        <div class="col-md-12">
            <div class="card no-border">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-5 trick3d-review-image">
                            <h2 class="review-header">Product Review Screen</h2>
                            <img width="400" decode=true [defaultImage]="'../../../../assets/Spinner-1s-201px.svg'"
                                [lazyLoad]="product_data.assetPicture.URL" />
                        </div>
                        <div class="col-md-7 trick3d-product-form">
                            <form [formGroup]="simpleForm" novalidate (ngSubmit)="onSubmitMarking()"
                                class="col-md-12 needs-validation">
                                <div class="row review-form-body">
                                    <h2 class="review-title">Product Facts</h2>
                                    <div class="col-md-12 review-forms">
                                        <div class="form-group review-name">
                                            <label for="name" class="col-md-4 float-left">Name</label>
                                            <div class="col-md-8 float-left padding-left">
                                                <input class="product-name" formControlName="Name" type="text"
                                                    [(ngModel)]="product_data.Name" />
                                            </div>
                                        </div>
                                        <div class="form-group review-name">
                                            <label for="name" class="col-md-4 float-left">Category</label>
                                            <div class="col-md-8 float-left padding-left">
                                                <select class="form-control product-select"
                                                    formControlName="CategoryID">
                                                    <option value="" class="selected-feature">Select Category</option>
                                                    <option [selected]="category.CategoryID==product_data.CategoryID"
                                                        [value]="category.CategoryID"
                                                        *ngFor="let category of categories;">{{category.Name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group review-name">
                                            <label for="name" class="col-md-4 float-left">Asset Bundle</label>
                                            <div class="col-md-8 float-left padding-left">
                                                {{ product_data.assetPicture.AssetBundle}}
                                            </div>
                                        </div>
                                        <!-- <div class="form-group review-name">
                                            <label for="name" class="col-md-4 float-left">Sub Categery</label>
                                            <div class="col-md-8 float-left">
                                                <select class="form-control product-select">
                                                    <option value="" class="selected-feature">Select Categery</option>
                                                    <option value="">1</option>
                                                </select>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                                <div class="row review-form-body paddin-top">
                                    <h2 class="review-title">Product Attibutes</h2>
                                    <div class="col-md-12 review-forms bg-noclr">
                                        <div class="form-group review-name margin-btm">
                                            <label class="col-md-4 float-left" for="_client">Product Image</label>
                                            <div class="col-md-8 float-left" >
                                                <div class="custom-file-upload float-right">
                                                    <label for="file-upload" class="upload-labe"><i class="fa fa-upload"></i></label>
                                                    <input #pi id="file-upload" type="file" multiple (change)="onFileChange($event,'pi')" accept="image/*" />
                                                </div>
                                                <div class="float-left" *ngIf="(product_data.assetPicture.assetUploads && product_data.assetPicture.assetUploads.length==0 || pImages.length==0) || isHaving.pi" >
                                                    <span *ngFor="let pimg of piPreview;let i=index" >
                                                        <img class="product-images" width="60" [defaultImage]="'../../../../assets/Spinner-1s-201px.svg'"
                                                        [lazyLoad]="pimg.url" [alt]="piName"/>
                                                        <i class="fa fa-close" (click)="removeSelectedImage($event,i,'piPreview',pimg.id)"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group review-name margin-btm">
                                            <label class="col-md-4 float-left" for="_client">Product Video</label>
                                            <div class="col-md-8 float-left">
                                                <div class="custom-file-upload float-right">
                                                    <label for="file-upload" class="upload-labe"><i class="fa fa-upload"></i></label>
                                                    <input #pv id="file-upload" type="file" multiple (change)="onFileChange($event,'pv')" accept="video/*" />
                                                </div>
                                                <div class="float-left" *ngIf="(product_data.assetPicture.assetUploads && product_data.assetPicture.assetUploads.length==0 || pVideos.length==0) || isHaving.pv" >
                                                    <span *ngFor="let pvid of pvPreview;let i=index" >
                                                        <img class="product-images" (click)="showAsset(pvid.url,'video')" width="60" src="../../../../assets/img/video-preview.png" [alt]="pvName"/>
                                                        <i class="fa fa-close" (click)="removeSelectedImage($event,i,'pvPreview', pvid.id)"></i>
                                                    </span>
                                                </div>
                                            </div>
                                            

                                        </div>
                                        <div class="form-group review-name margin-btm">
                                            <label class="col-md-4 float-left" for="_client">Product Video Url</label>
                                            <div class="col-md-8 float-left">
                                                <input id="_client" type="url" class="product-video form-control"
                                                    formControlName="ProductVideoURL" />
                                            </div>
                                            <div class="invalid-feedback" *ngIf="f['ProductVideoURL'].errors"> 
                                                <div class="invalid-text" *ngIf="f['ProductVideoURL'].errors.invalid">
                                                    Not a valid URL
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row review-form-body paddin-top">
                                    <h2 class="review-title">Product Features</h2>
                                    <div class="col-md-12 review-forms bg-noclr">
                                        <div class="form-group review-name margin-btm">
                                            <label for="" class="col-md-4 float-left">Select Feature</label>
                                            <div class="col-md-8 float-left">
                                                <select formControlName="MarkingNumber"
                                                    (change)="onSelectFeature($event)"
                                                    class="select-featiures form-control feature-select">
                                                    <option value="" [selected]="true" class="selected-feature">Select
                                                        Feature</option>
                                                    <option *ngFor="let feature of product_data.NoOfFeatures"
                                                        [value]=feature+1>{{feature+1}}</option>
                                                </select>
                                            </div>
                                            <div *ngIf="submitted && f['MarkingNumber'].errors"
                                                class="invalid-feedback">
                                                <div *ngIf="f['MarkingNumber'].errors.required">Feature is required
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group review-name margin-btm">
                                            <label class="col-md-4 float-left" for="_client">Title</label>
                                            <div class="col-md-8 float-left">

                                                <input type=text formControlName="Title" placeholder="Feature Title"
                                                    class="review-feature">
                                                <div *ngIf="submitted && f['Title'].errors" class="invalid-feedback">
                                                    <div *ngIf="f['Title'].errors.required">Title is required</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group review-name margin-btm">
                                            <label class="col-md-4 float-left" for="_client">Description</label>
                                            <div class="col-md-8 float-left">
                                                <textarea formControlName="Description" type=text
                                                    placeholder="Feature Body "
                                                    class="review-feature text-scroll"></textarea>
                                            </div>
                                            <div *ngIf="submitted && f['Description'].errors" class="invalid-feedback">
                                                <div *ngIf="f['Description'].errors.required">Description is required
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group review-name margin-btm">
                                            <label class="col-md-4 float-left" for="_client">Image</label>
                                            <div class="col-md-8 float-left">
                                                <div class="custom-file-upload float-right">
                                                    <label for="file-upload" class="upload-labe"><i class="fa fa-upload"></i></label>
                                                    <input #mi id="file-upload" type="file" multiple (change)="onFileChange($event,'fei')" accept="image/*" />
                                                </div>
                                                <div class="float-left" *ngIf="this.iImages.length==0 || isHaving.mi" >
                                                    <span *ngFor="let pimg of feiPreview;let i=index" >
                                                        <img class="product-images" width="60" [defaultImage]="'../../../../assets/Spinner-1s-201px.svg'"
                                                        [lazyLoad]="pimg.url" [alt]="feiName"/>
                                                        <i class="fa fa-close" (click)="removeSelectedImage($event,i,'feiPreview',pimg.id)"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group review-name margin-btm">
                                            <label class="col-md-4 float-left" for="_client">Video</label>
                                            <div class="col-md-8 float-left">
                                                <div class="custom-file-upload float-right" >
                                                    <label for="file-upload" class="upload-labe"><i class="fa fa-upload"></i></label>
                                                    <input #mv id="file-upload" type="file" multiple (change)="onFileChange($event,'fev')" accept="video/*" />
                                                </div>
                                                <div class="float-left" *ngIf="iVideos.length==0 || isHaving.mv">
                                                    <span *ngFor="let pvid of fevPreview;let i=index" >
                                                        <img class="product-images" (click)="showAsset(pvid.url,'video')" width="60" src="../../../../assets/img/video-preview.png" [alt]="fevName"/>
                                                        <i class="fa fa-close" (click)="removeSelectedImage($event,i,'fevPreview', pvid.id)"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions review-btns">
                                    <button type="button" (click)="publishProduct($event)"
                                        [disabled]="product_data.assetMarking && product_data.NoOfFeatures.length!=product_data.assetMarking.length"
                                        class="btn btn-primary profile-publish-btn">Publish</button>
                                    <!-- <span class="trick-form-submit" for="file-input">&nbsp;</span> -->
                                    <button class="btn btn-primary mr-1 profile-submit-btn" type="submit">Save</button>
                                    <button class="btn btn-secondary profile-cncl-btn" type="button"
                                        (click)="cancel()">Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>