// .overlay {
//   display: none !important;
// }
.asset-producr-review {
  .trick3d-review-image {
    border-right: 1px solid #3262a5;
    .review-header {
      color: #3262a5;
      font-weight: normal;
    }
  }
  .trick3d-product-form {
    .review-form-body {
      padding-left: 15px;
      .review-title {
        color: #3262a5;
      }
      .review-forms {
        background-color: #ecf2f8;
        border-radius: 7px;
        padding-top: 25px;
        .review-name {
          display: flex;
          font-size: 18px;
          color: #3262a5;

          .product-name {
            border: none;
            border-radius: 4px;
            padding: 7px 14px;
            width: 98%;
            color: #3262a5;
            &:focus {
              border: none;
              box-shadow: none;
              outline: none;
            }
          }
          .product-select {
            width: 98%;
            height: 38px;
            color: #3262a5;
            font-size: 18px;
            &:focus {
              border: none;
              box-shadow: none;
            }
          }
          // .float-left{
          //     float: left;
          // }
          //   input[type="file" i] {
          //     display: none;
          //   }
          input[type="file"] {
            width: 18%;
            position: relative;
            opacity: 0;
            left: -14px;
            top: 6px;
            height: 54px;
          }
          .custom-file-upload {
            position: absolute;
            opacity: 1;
            background-color: #fff;
            width: 94%;
            .fa-upload {
              font-size: 15px;
              padding: 11px 0px 0px 17px;
            }
            .upload-labe {
              border: 1px solid #3262a5;
              width: 69%;
              border-radius: 3px;
              padding: 6px 14px;
            }
            .upload-label {
              border: 1px solid #3262a5;
              width: 16%;
              border-radius: 3px;
              padding: 6px 3px;
              float: left;
              height: 55px;
              margin: 7px 4px 0px 0px;
              font-size: 10px;
              line-height: 17px;
            }
            .no-file-chosen {
              display: none;
            }
            .div-image {
              // float: left;
              // display: contents;
              .multiple-image {
                position: relative;
                float: left;
                margin-right: 3px;
                img {
                  width: 55px;
                  margin-top: 3px;
                  // height: 55px;
                  
                  // position: relative;
                }
                .zoom-img {
                  cursor:zoom-in;
                }
                .zoom-video{
                  cursor: pointer;;
                }
                .product-images:nth-child(6) {
                  margin-top: 3px;
                }
                .img-close {
                  position: absolute;
                  left: 35px;
                  top: 8px;
                  // border: 1px solid #fff;
                  // border-radius: 31px;
                  width: 17px;
                  height: 17px;
                  line-height: 14px;
                  font-size: 14px;
                  padding-left: 2px;
                  cursor: pointer;
                }
              }
            }
          }
          .trick3d-five-images {
            height: 65px;
            span {
              display: block;
              img {
                margin-right: 3px;
              }
            }
          }
          .trick3d-six-images {
            height: 119px;
            span {
              display: block;
              img {
                margin-right: 3px;
                margin-top: 3px;
              }
            }
          }
          .trick-width {
            width: 100%;
            .feature-select {
              background-color: #3262a5;
              color: #fff;
              font-size: 18px;
              .selected-feature {
                background-color: #fff;
                color: #3262a5;
                height: 38px;
                &:hover {
                  background-color: #3262a5;
                  color: #fff;
                }
                &:active {
                  background-color: #3262a5;
                  color: #fff;
                }
              }
              &:focus {
                box-shadow: none;
              }
            }
          }
          .review-feature {
            border: 1px solid #3262a5;
            border: 1px solid #3262a5;
            padding: 6px 14px;
            border-radius: 4px;
            width: 100%;
            color: #3262a5;
            &::placeholder {
              color: #3262a5;
            }
          }
          .select-featiures {
            border: 1px solid #3262a5;
            font-size: 18px;
            height: 41px;
            color: #3262a5;
            &::placeholder {
              color: #3262a5;
            }
          }
          .product-video {
            border: 1px solid #3262a5;
            height: 38px;
          }
          .text-scroll {
            height: 100px;
            resize: none;
          }
        }
        .line-height {
          line-height: 63px;
        }
        .margin-btm {
          margin-bottom: 20px;
        }
      }
      .bg-noclr {
        background-color: transparent;
      }
    }
    .review-btns {
      float: right;
      margin-right: -14px;
      margin-top: 25px;
      .profile-submit-btn {
        background-color: #3262a5;
        color: #fff;
        border: 1px solid #3262a5;
        height: 38px;
        width: 120px;
        font-size: 18px;
        // &:hover {
        //   background-color: #3262a5;
        //   color: #fff;
        // }
        &:focus {
          box-shadow: none;
        }
      }
      .profile-cncl-btn {
        background-color: transparent;
        color: #3262a5;
        border: 1px solid #3262a5;
        height: 38px;
        width: 120px;
        font-size: 18px;

        // &:hover {
        //   background-color: transparent;
        //   color: #3262a5;
        //   border: 1px solid #3262a5;
        // }
        &:focus {
          box-shadow: none;
        }
      }
      .profile-publish-btn {
        color: #fff;
        height: 38px;
        width: 120px;
        font-size: 18px;
        &:hover {
          background-color: #20a8d8;
        }
        &:focus {
          box-shadow: none;
        }
      }
    }
    .paddin-top {
      padding-top: 20px;
    }
  }
  .no-border {
    border: none;
  }
  @media all and (max-width: 699px) and (min-width: 320px) {
    .trick3d-review-image {
      padding: 0px !important;
      border-right: none;
      img {
        width: 329px !important;
      }
    }
    .custom-file-upload {
      img {
        width: 57px !important;
      }
      product-images:nth-child(6) {
        margin-top: 3px;
      }
    }

    .trick3d-five-images {
      height: 96px !important;
      span {
        display: block;
        img {
          margin-right: 3px;
        }
      }
    }
    .trick3d-six-images {
      height: 162px !important;
      span {
        display: block;
        img {
          margin-right: 3px;
          margin-top: 3px;
        }
      }
    }
    .trick3d-product-form {
      padding: 0px !important;
      .product-form {
        padding: 0px;
      }
      .review-form-body {
        padding: 19px 0px 0px 0px !important;
        .float-left {
          padding-left: 0px !important;
          margin-bottom: 20px !important;
        }
        .padding-left {
          padding-left: 15px !important;
        }
      }
      .col-md-4 {
        display: none;
      }
      .review-forms {
        padding-left: 0px;
        padding-right: 0px;
        .margin-btm {
          margin-bottom: 0px !important;
        }
      }
    }
    .review-btns {
      margin-top: 13px !important;
      margin-right: 0px !important;
      float: left !important;
    }
    .image-span {
      display: none;
    }
    .profile-publish-btn {
      font-size: 16px !important;
      width: 95px !important;
    }
    .profile-submit-btn {
      font-size: 16px !important;
      width: 95px !important;
      margin-right: 0px !important;
    }
    .profile-cncl-btn {
      font-size: 16px !important;
      width: 95px !important;
    }
  }
  @media all and (width: 375px) {
    .trick3d-review-image {
      padding: 0px !important;
      border-right: none;
      img {
        width: 300px !important;
      }
    }
    .custom-file-upload {
      img {
        width: 49px !important;
        height: 53px !important;
      }
      product-images:nth-child(6) {
        margin-top: 3px;
      }
      .upload-label {
        width: 19% !important;
        height: 53px !important;
        font-size: 8px !important;
      }
      .img-close {
        position: absolute;
        left: 31px !important;
        top: 9px !important;
        border: 1px solid #fff;
        border-radius: 31px;
        width: 14px !important;
        height: 14px !important;
        line-height: 11px !important;
        font-size: 11px !important;
        padding-left: 3px;
      }
    }

    .trick3d-five-images {
      height: 50px !important;
      span {
        display: block;
        img {
          margin-right: 3px;
        }
      }
    }
    .trick3d-six-images {
      height: 105px !important;
      span {
        display: block;
        img {
          margin-right: 3px;
          margin-top: 3px;
        }
      }
    }
    .review-btns {
      margin-left: -14px !important;
      .profile-publish-btn {
        font-size: 15px !important;
        width: 93px !important;
      }
      .profile-submit-btn {
        font-size: 15px !important;
        width: 93px !important;
        margin-right: 0px !important;
      }
      .profile-cncl-btn {
        font-size: 15px !important;
        width: 93px !important;
      }
    }
  }

  @media all and (width: 360px) {
    .review-header {
      font-size: 26px !important;
    }
    .trick3d-review-image {
      padding: 0px !important;
      border-right: none;
      img {
        width: 300px !important;
      }
    }
    .custom-file-upload {
      img {
        width: 47px !important;
        height: 52px !important; 
      }
      product-images:nth-child(6) {
        margin-top: 3px;
      }
      .fa-upload {
        font-size: 15px;
        padding: 10px 0px 0px 15px !important;
    }
      .upload-label {
        width: 18% !important;
        height: 53px !important;
        font-size: 8px !important;
      }
      .img-close {
        position: absolute;
        left: 31px !important;
        top: 9px !important;
        border: 1px solid #fff;
        border-radius: 31px;
        width: 14px !important;
        height: 14px !important;
        line-height: 11px !important;
        font-size: 11px !important;
        padding-left: 3px;
      }
    }

    .trick3d-five-images {
      height: 51px !important;
      span {
        display: block;
        img {
          margin-right: 3px;
        }
      }
    }
    .trick3d-six-images {
      height: 102px !important;
      span {
        display: block;
        img {
          margin-right: 3px;
          margin-top: 3px;
        }
      }
    }
    .review-btns {
      margin-right: -2px !important;
      .profile-publish-btn {
        font-size: 15px !important;
        width: 83px !important;
      }
      .profile-submit-btn {
        font-size: 15px !important;
        width: 83px !important;
        margin-right: 0px !important;
      }
      .profile-cncl-btn {
        font-size: 15px !important;
        width: 83px !important;
      }
    }
  }
  @media all and (width: 320px) {
    .review-header {
      font-size: 23px !important;
    }
    .trick3d-review-image {
      padding: 0px !important;
      border-right: none;
      img {
        width: 260px !important;
      }
    }
    .custom-file-upload {
      img {
        width: 40px !important;
        height: 53px !important;
      }
      product-images:nth-child(6) {
        margin-top: 3px;
      }
      .fa-upload {
        font-size: 20px;
        padding: 10px 0px 0px 10px !important;
      }
      .upload-label {
        width: 18% !important;
        height: 53px !important;
        font-size: 7px !important;
        margin: 7px 4px 0px 0px !important;
        line-height: 10px !important;
      }
      .img-close {
        position: absolute;
        left: 25px !important;
        top: 8px !important;
        border: 1px solid #fff;
        border-radius: 31px;
        width: 14px !important;
        height: 14px !important;
        line-height: 11px !important;
        font-size: 10px !important;
        padding-left: 3px;
      }
    }

    .trick3d-five-images {
      height: 45px !important;
      span {
        display: block;
        img {
          margin-right: 3px;
        }
      }
    }
    .trick3d-six-images {
      height: 97px !important;
      span {
        display: block;
        img {
          margin-right: 3px;
          margin-top: 3px;
        }
      }
    }
    .review-btns {
      margin-left: -14px !important;
      .profile-publish-btn {
        font-size: 14px !important;
        width: 74px !important;
      }
      .profile-submit-btn {
        font-size: 14px !important;
        width: 74px !important;
        margin-right: 0px !important;
      }
      .profile-cncl-btn {
        font-size: 14px !important;
        width: 74px !important;
      }
    }
  }
}
