<div class="animated fadeIn trick3d-user-form">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          User Form
          <div class="card-header-actions"></div>
        </div>
        <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <form [formGroup]="simpleForm" novalidate (ngSubmit)="onSubmit()" class="needs-validation">
              <div class="col-md-12 trick-form-left">
              <div class="col-md-6 form-group trick-col-float-left">
                <label class="col-form-label trick-float-left" for="Type">Type</label>                
                 <select (change)="toggleClients($event);" class="form-control trick-md-right" id="Type" formControlName="RoleID" required autofocus [ngClass]="{ 'is-invalid': submitted && f.RoleID.errors, 'is-valid': f.RoleID.touched && !f.RoleID.errors }" >
                  <option value="0" [disabled]>Select Type</option>
                  <option *ngFor="let role of roles" [value]="role.RoleID">{{role.Name}}</option>
                </select>
                <div *ngIf="submitted && f['RoleID'].errors" class="invalid-feedback">
                  <div class="invalid-text" *ngIf="f['RoleID'].errors.required">Type is required</div>
                </div>               
              </div>

              <div class="col-md-6 form-group trick-col-float-left" *ngIf="showClients">
                <label class="col-form-label trick-float-left" for="Type">Client</label>                
                <select [ngClass]="{ 'is-invalid': submitted && f.ClientID.errors, 'is-valid': f.ClientID.touched && !f.ClientID.errors }" class="form-control trick-md-right" formControlName="ClientID" id="_client" required>
                  <option value="">Select Client</option>
                  <option *ngFor="let client of clients" [value]="client.ClientID">{{client.FullName}}</option>
                </select>
                <div *ngIf="submitted && f['ClientID'].errors" class="invalid-feedback">
                  <div class="invalid-text" *ngIf="f['ClientID'].errors.required">Client is required</div>
                </div>               
              </div>

              <div class="col-md-6 form-group trick-col-float-left">
                <label class="col-form-label trick-float-left" for="firstName">First name</label>                
                <input class="form-control trick-md-right"
                       id="firstName"
                       type="text"
                       formControlName="FirstName"
                       placeholder="First name"
                       autocomplete="given-name"
                       required
                       autofocus
                       [ngClass]="{ 'is-invalid': submitted && f.FirstName.errors, 'is-valid': f.FirstName.touched && !f.FirstName.errors }" />
                <div *ngIf="submitted && f['FirstName'].errors" class="invalid-feedback">
                  <div class="invalid-text" *ngIf="f['FirstName'].errors.required">First Name is required</div>
                </div>                
              </div>
              <div class="col-md-6 form-group trick-col-float-left">
                <label class="col-form-label trick-float-left" for="lastName">Last name</label>                
                <input class="form-control trick-md-right"
                       id="lastName"
                       type="text"
                       formControlName="LastName"
                       placeholder="Last name"
                       autocomplete="family-name"
                       required
                       [ngClass]="{ 'is-invalid': submitted && f.LastName.errors, 'is-valid': f.LastName.touched && !f.LastName.errors }" />
                <div *ngIf="submitted && f['LastName'].errors" class="invalid-feedback">
                  <div class="invalid-text" *ngIf="f['LastName'].errors.required">Last Name is required</div>
                </div>                
              </div>
              <div class="col-md-6 form-group trick-col-float-left">
                <label class="col-form-label trick-float-left" for="username">Username</label>                
                <input class="form-control trick-md-right"
                       id="username"
                       type="text"
                       formControlName="UserName"
                       placeholder="Username"
                       autocomplete="username"
                       required
                       [ngClass]="{ 'is-invalid': submitted && f.UserName.errors, 'is-valid': f.UserName.touched && !f.UserName.errors }" />
                <div *ngIf="submitted && simpleForm.controls['UserName'].errors" class="invalid-feedback">
                  <div class="invalid-text" *ngIf="f['UserName'].errors.required">Username is required</div>
                  <div *ngIf="f['UserName'].errors.minlength">{{formErrors.UserName.minLength}}</div>
                </div>                
              </div>
              <div class="col-md-6 form-group trick-col-float-left">
                <label class="col-form-label trick-float-left" for="email">Email</label>                
                <input class="form-control trick-md-right"
                       id="email"
                       type="text"
                       formControlName="Email"
                       placeholder="Email"
                       autocomplete="email"
                       required
                       [ngClass]="{ 'is-invalid': submitted && f.Email.errors, 'is-valid': f.Email.touched && !f.Email.errors }" />
                <div *ngIf="submitted && f['Email'].errors" class="invalid-feedback">
                  <div class="invalid-text" *ngIf="f['Email'].errors.required">Email is required</div>
                  <div *ngIf="f['Email'].errors.email">{{formErrors.email.email}}</div>
                </div>                
              </div>
              </div>
              <div class="col-md-12 trick-form-left">
                <div class="form-group trick-buttons" >
                <!--<button class="btn btn-primary mr-1" type="submit" [disabled]="simpleForm.pristine">Submit</button>-->
                <button class="btn trick-submit-btn mr-1" type="submit" >Submit</button>
                <button class="btn trick-cancel-btn" type="submit" [disabled]="simpleForm.pristine && !submitted" (click)="onReset()">Cancel</button>
              </div>
              </div>              
            </form>
          </div>
      </div>
        </div>
      </div>
    </div>
  </div>
</div>
