<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <i class="icon-note"></i> User Form
          <div class="card-header-actions">
                      </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <form [formGroup]="simpleForm" novalidate (ngSubmit)="onSubmit()" class="needs-validation">
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="Type">Type</label>
                  <div class="col-md-9">
                   <select class="form-control" id="Type" formControlName="RoleID" required autofocus [ngClass]="{ 'is-invalid': submitted && f.RoleID.errors, 'is-valid': f.RoleID.touched && !f.RoleID.errors }" >
                    <option value="0" [disabled]>Select Type</option>
                    <option *ngFor="let role of roles" [value]="role.RoleID">{{role.Name}}</option>
                  </select>
                  <div *ngIf="submitted && f['RoleID'].errors" class="invalid-feedback">
                    <div *ngIf="f['RoleID'].errors.required">Type is required</div>
                  </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="firstName">First name</label>
                  <div class="col-md-9">
                  <input class="form-control"
                         id="firstName"
                         type="text"
                         formControlName="FirstName"
                         placeholder="First name"
                         autocomplete="given-name"
                         required
                         autofocus
                         [ngClass]="{ 'is-invalid': submitted && f.FirstName.errors, 'is-valid': f.FirstName.touched && !f.FirstName.errors }" />
                  <div *ngIf="submitted && f['FirstName'].errors" class="invalid-feedback">
                    <div *ngIf="f['FirstName'].errors.required">First Name is required</div>
                  </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="lastName">Last name</label>
                  <div class="col-md-9">
                  <input class="form-control"
                         id="lastName"
                         type="text"
                         formControlName="LastName"
                         placeholder="Last name"
                         autocomplete="family-name"
                         required
                         [ngClass]="{ 'is-invalid': submitted && f.LastName.errors, 'is-valid': f.LastName.touched && !f.LastName.errors }" />
                  <div *ngIf="submitted && f['LastName'].errors" class="invalid-feedback">
                    <div *ngIf="f['LastName'].errors.required">Last Name is required</div>
                  </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="username">Username</label>
                  <div class="col-md-9">
                  <input class="form-control"
                         id="username"
                         type="text"
                         formControlName="UserName"
                         placeholder="Username"
                         autocomplete="username"
                         required
                         [ngClass]="{ 'is-invalid': submitted && f.UserName.errors, 'is-valid': f.UserName.touched && !f.UserName.errors }" />
                  <div *ngIf="submitted && simpleForm.controls['UserName'].errors" class="invalid-feedback">
                    <div *ngIf="f['UserName'].errors.required">Username is required</div>
                    <div *ngIf="f['UserName'].errors.minlength">{{formErrors.UserName.minLength}}</div>
                  </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="email">Email</label>
                  <div class="col-md-9">
                  <input class="form-control"
                         id="email"
                         type="text"
                         formControlName="Email"
                         placeholder="Email"
                         autocomplete="email"
                         required
                         [ngClass]="{ 'is-invalid': submitted && f.Email.errors, 'is-valid': f.Email.touched && !f.Email.errors }" />
                  <div *ngIf="submitted && f['Email'].errors" class="invalid-feedback">
                    <div *ngIf="f['Email'].errors.required">Email is required</div>
                    <div *ngIf="f['Email'].errors.email">{{formErrors.email.email}}</div>
                  </div>
                  </div>
                </div>

                <div class="form-group">
                  <!--<button class="btn btn-primary mr-1" type="submit" [disabled]="simpleForm.pristine">Submit</button>-->
                  <button class="btn btn-success mr-1" type="submit" >Submit</button>
                  <button class="btn btn-danger" type="reset" [disabled]="simpleForm.pristine && !submitted" (click)="onReset()">Reset</button>
                </div>
              </form>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
