<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <i class="icon-note"></i> User Form
          <div class="card-header-actions">
                      </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <form [formGroup]="simpleForm" novalidate (ngSubmit)="onSubmit()" class="needs-validation">
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="firstName">Type</label>
                  <div class="col-md-9">
                   <select class="form-control" id="ccmonth" formControlName="type" required autofocus [ngClass]="{ 'is-invalid': submitted && f.type.errors, 'is-valid': f.type.touched && !f.type.errors }" >
                    <option value="admin">Admin</option>
                    <option value="producer">Producer</option>
                  </select>
                  <div *ngIf="submitted && f['type'].errors" class="invalid-feedback">
                    <div *ngIf="f['type'].errors.required">Type is required</div>
                  </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="firstName">First name</label>
                  <div class="col-md-9">
                  <input class="form-control"
                         id="firstName"
                         type="text"
                         formControlName="firstName"
                         placeholder="First name"
                         autocomplete="given-name"
                         required
                         autofocus
                         [ngClass]="{ 'is-invalid': submitted && f.firstName.errors, 'is-valid': f.firstName.touched && !f.firstName.errors }" />
                  <div *ngIf="submitted && f['firstName'].errors" class="invalid-feedback">
                    <div *ngIf="f['firstName'].errors.required">First Name is required</div>
                  </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="lastName">Last name</label>
                  <div class="col-md-9">
                  <input class="form-control"
                         id="lastName"
                         type="text"
                         formControlName="lastName"
                         placeholder="Last name"
                         autocomplete="family-name"
                         required
                         [ngClass]="{ 'is-invalid': submitted && f.lastName.errors, 'is-valid': f.lastName.touched && !f.lastName.errors }" />
                  <div *ngIf="submitted && f['lastName'].errors" class="invalid-feedback">
                    <div *ngIf="f['lastName'].errors.required">Last Name is required</div>
                  </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="username">Username</label>
                  <div class="col-md-9">
                  <input class="form-control"
                         id="username"
                         type="text"
                         formControlName="username"
                         placeholder="Username"
                         autocomplete="username"
                         required
                         [ngClass]="{ 'is-invalid': submitted && f.username.errors, 'is-valid': f.username.touched && !f.username.errors }" />
                  <div *ngIf="submitted && simpleForm.controls['username'].errors" class="invalid-feedback">
                    <div *ngIf="f['username'].errors.required">Username is required</div>
                    <div *ngIf="f['username'].errors.minlength">{{formErrors.username.minLength}}</div>
                  </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="email">Email</label>
                  <div class="col-md-9">
                  <input class="form-control"
                         id="email"
                         type="text"
                         formControlName="email"
                         placeholder="Email"
                         autocomplete="email"
                         required
                         [ngClass]="{ 'is-invalid': submitted && f.email.errors, 'is-valid': f.email.touched && !f.email.errors }" />
                  <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                    <div *ngIf="f['email'].errors.required">Email is required</div>
                    <div *ngIf="f['email'].errors.email">{{formErrors.email.email}}</div>
                  </div>
                  </div>
                </div>

                <div class="form-group">
                  <!--<button class="btn btn-primary mr-1" type="submit" [disabled]="simpleForm.pristine">Submit</button>-->
                  <button class="btn btn-success mr-1" type="submit" >Submit</button>
                  <button class="btn btn-danger" type="reset" [disabled]="simpleForm.pristine && !submitted" (click)="onReset()">Reset</button>
                </div>
              </form>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
