<div class="animated fadeIn client-regster-form">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    Client Registration Form
                    <div class="card-header-actions"></div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form [formGroup]="simpleForm" novalidate (ngSubmit)="onSubmit()" class="needs-validation">
                                <div class="col-md-12 trick-form-left">
                                    <div class="col-md-6 form-group trick-col-float-left">
                                        <label class="col-form-label trick-float-left" for="firstName">Client
                                            Name</label>
                                        <input class="form-control trick-md-right" id="firstName" type="text"
                                            formControlName="FullName" placeholder="Name" autocomplete="given-name"
                                            required autofocus [ngClass]="{
                                                'is-invalid':
                                                    submitted &&
                                                    f.FullName.errors,
                                                'is-valid':
                                                    f.FullName.touched &&
                                                    !f.FullName.errors
                                            }" />
                                        <div *ngIf="
                                                submitted &&
                                                f['FullName'].errors
                                            " class="invalid-feedback">
                                            <div class="invalid-text" *ngIf="
                                                    f['FullName'].errors
                                                        .required
                                                ">
                                                Name is required
                                            </div>
                                        </div>

                                    </div>
                                    <!--  -->

                                    <div class="col-md-6 form-group trick-col-float-left">
                                        <label class="col-form-label trick-float-left" for="username">Website</label>
                                        <input class="form-control trick-md-right" id="website" type="text"
                                            formControlName="Website" placeholder="website" autocomplete="website"
                                            required [ngClass]="{
                                                'is-invalid':
                                                    submitted &&
                                                    f.Website.errors,
                                                'is-valid':
                                                    f.Website.touched &&
                                                    !f.Website.errors
                                            }" />
                                        <div *ngIf="
                                                submitted &&
                                                simpleForm.controls['Website']
                                                    .errors
                                            " class="invalid-feedback">
                                            <div class="invalid-text" *ngIf="
                                                    f['Website'].errors.required
                                                ">
                                                Website is required
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 form-group trick-col-float-left">
                                        <label class="col-form-label trick-float-left" for="FirstName">User Name</label>
                                        <input class="form-control trick-md-right" id="FirstName" type="text"
                                            formControlName="FirstName" placeholder="Default User Name"
                                            autocomplete="given-email" required autofocus [ngClass]="{
                                                'is-invalid':
                                                    submitted && f.FirstName.errors,
                                                'is-valid':
                                                    f.FirstName.touched &&
                                                    !f.FirstName.errors
                                            }" />
                                        <div *ngIf="
                                                submitted && f['FirstName'].errors
                                            " class="invalid-feedback">
                                            <div class="invalid-text" *ngIf="
                                                    f['FirstName'].errors.required
                                                ">
                                                User Name is required
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 form-group trick-col-float-left">
                                        <label class="col-form-label trick-float-left" for="Email">Email</label>
                                        <input class="form-control trick-md-right" id="Email" type="text"
                                            formControlName="Email" placeholder="Email" autocomplete="given-email"
                                            required autofocus [ngClass]="{
                                              'is-invalid':
                                                  submitted && f.Email.errors,
                                              'is-valid':
                                                  f.Email.touched &&
                                                  !f.Email.errors
                                          }" />
                                        <div *ngIf="
                                              submitted && f['Email'].errors
                                          " class="invalid-feedback">
                                            <div class="invalid-text" *ngIf="
                                                  f['Email'].errors.required
                                              ">
                                                Email is required
                                            </div>
                                            <div *ngIf="f['Email'].errors.email">
                                                Invalid email address
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 form-group trick-col-float-left">
                                        <label class="col-form-label trick-float-left" for="address">Address</label>
                                        <textarea class="form-control trick-md-right textarea-height" id="address"
                                            type="text" formControlName="Address" placeholder="Address"
                                            autocomplete="family-name" required [ngClass]="{
                                                'is-invalid':
                                                    submitted &&
                                                    f.Address.errors,
                                                'is-valid':
                                                    f.Address.touched &&
                                                    !f.Address.errors
                                            }"></textarea>
                                        <div *ngIf="
                                                submitted && f['Address'].errors
                                            " class="invalid-feedback">
                                            <div class="invalid-text" *ngIf="
                                                    f['Address'].errors.required
                                                ">
                                                Address is required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 trick-form-left">
                                    <div class="form-group trick-buttons">
                                        <button class="btn trick-submit-btn mr-1" type="submit"
                                            [disabled]="simpleForm.invalid">
                                            Submit
                                        </button>
                                        <button class="btn trick-submit-btn" type="reset" (click)="onReset()">
                                            Cancel
                                        </button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>