// Variable overrides
// $navbar-bg:                           #FF0A57 !default;
// $sidebar-bg:                          #333 !default;

// $primary:#FF0A57;
// $secondary:#A3A9AE;
.app-body{
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px !important;
}
